.tab-header-background {
    -fx-background-color:  #11343a;
}
.tab {
    -fx-pref-width: 75;
    -fx-pref-height: 30;
    -fx-text-base-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

.tab-pane{
    -fx-padding: 0 -1 -1 -1;
}

.choice-box .context-menu {
    -fx-background-color:  #08171A;
}

.choice-box .label {
    -fx-text-fill: white;
}

.text-field{
    -fx-text-fill: white;
}

.date-picker .text-field{
    -fx-text-fill: white;
    -fx-background-color: #08171A;
}